[Desktop Entry]
Version=1.0
Type=Application
Name=kdev
GenericName=Kitty daily session
Comment=Open the daily Kitty development session
TryExec=kdev
StartupNotify=true
Exec=kdev
Icon=kitty
Categories=System;TerminalEmulator;
Keywords=kitty;kdev;daily;development;session;terminal;
StartupWMClass=kdev
